.serv {
    background-color: #235789;
    height: fit-content;
}

h2 {
    color: #FFF5EA;

}

.s-item {
    width: 700px;
    cursor: pointer;
    border-radius: 20Px;
    transition: 0.3s ;
}

.s-item:hover {
    background-color: #1e5181;
}
.s-pic {
    width: 20vw;

}

.s-desc {
    font-size: 30Px;
    font-weight: 700;
    text-align: center;
    color: #FFF5EA;
}