.a-us {
    margin-top: 120px;
    position: relative;
    padding-bottom: 60px;
}

.l-a-us {
    width: 60vw;
}

h1 {
    color: #235789;

    margin-bottom: 4px;

    font-weight: 700;
    margin-left: -4vw;
}

.a-us-text {
    width: 80%;
    font-size: 20px;
    font-weight: 500;

}
.r-a-us {
    width: 30vw;
}

@media (max-width: 1300px) {
    .r-a-us {
        width: 40vw;
    }
    
}