.a-us {
  
    position: relative;
    padding-bottom: 60px;
}

.l-a-us {
    width: 60vw;
}


h2 {
    opacity: 0;
    transform: translateY(50px);
    font-size: 80px;
    margin-bottom: 4px;

    font-weight: 700;
    margin-left: -4vw;
}

.a-us-text {
    width: 80%;
    font-size: 20px;
    font-weight: 500;
    opacity: 0;
}
.r-a-us {
    width: 30vw;
    opacity: 0;
    transform: translateX(50px);
}

@media (max-width: 1300px) {
    .a-us {
        flex-direction: column-reverse;
        align-items: center;
    }

    .r-a-us {
        width: 40vw;
    }
    
}