.order-head {
    padding-top: 120px;
}

h1 {
    font-size: 90px;
}

.order-subhead {
    opacity: 0.7;
    font-size: 24px;
    font-weight: 500;
    margin-top: -60px;

}

.form-text {
    width: 50vw;
    font-size: 18Px;

    margin-bottom: 80px;
    opacity: 0.9;
}

form {
    margin-top: 60px;
   
}

.radio-service {
    width: 260px;
    height: 100px;
    border-radius: 12px;
    margin: 20px;
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: black 8Px 8Px 50Px;
    
}

.radio-service:hover {
    background-color: #1d4b76;
}

.radio {
    margin-top: 0px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    
    accent-color: #235789;
}

.inputs {
    
        width: 380px;
        height: 60px;
        border: 
        4px #235789 solid;
        border-radius: 8px;
        z-index: 10000;
        font-size: 28px;
        font-weight: 600;
        
        padding-left: 20Px;
        margin: 30px;
        margin-bottom: 0px;
        outline: none;
        
}

.order {
    width: 280px;
    height: 80px;
    
    border: none;
    font-size: 38px;
    z-index: 10000;
    font-weight: 700;
    color: #FFF5EA;
    border-radius: 8px;
    transition: 0.3s;
    cursor: pointer;
    margin-bottom: 80px;
    margin-top: 60px;
}

.order:hover {
    background-color: #1c4b78;
}


@media (max-width: 650Px) {
   .form-text {
    width: 80vw;
   }
}

@media (max-width:750Px) {
    h1 {
        font-size: 54px;
    }

    .order-subhead {
        margin-top: -40px;
        font-size: 18px;
    }
}

@media(max-width: 550px) {
    .inputs {
        width: 80vw;
    }

    
}