.ref-header {
    margin-top: 140px;
    position: relative;
}

h1 {
    font-size: 80px;
}


.ref-header-text {
    font-size: 20px;
    max-width: 50vw;
    font-weight: 500;
    margin-top: 0px;
    padding-bottom: 70px;
}


@media (max-width: 800px) {
    .ref-header-text {
        max-width: 90vw;
    }
}


h2,
h3,
h4 {
    font-size: 64px;
}

@media (max-width: 600px) {
    h1 {
        font-size: 50px;
    }

    h2,
    h3,
    h4 {
        font-size: 46px;
    }
}


.ref-item {
    position: relative;
}

.ref-pic {
    width: 30vw;
    margin-top: -6vw;
}

@media (max-width: 1000px) {
    .ref-pic {
        width: 50vw;
    }
}
.m-top {
    margin-top: 0px;
}