.header-ser {
    background-color: #235789;
    position: relative;
    padding-bottom: 40px;
    
}

.ser-main {
    position: relative;
    padding-bottom: 140px;
   
}

.m-top-ser {
    margin-top: 110px;
}

.blue {
    background-color: #235789;
    width: 100vw;
}
h1 {
    margin-top: 140px;
    color: #FFF5EA;
    
}
h2 {
    font-size: 30px;
    color: #235789;
}
h3 {
    color: #FFF5EA;
}
.ser-pic {
    width: 25vw;
    margin-bottom: -5vw;
}
.how-does-item {
    margin: 40px;
}
.how-does-h {
    font-size: 28px;
    font-weight: 700;
    
}

.blue .how-does-h {
    color: #FFF5EA;
}

.how-does-text {
    max-width: 25vw;
    font-size: 18px;
    opacity: 0.7;
}

.blue .how-does-text {
    color: #FFF5EA;
}
.m-top {
    margin-top: 50px;
}
.order {
    width: 280px;
    height: 70px;
    background-color: #235789;
    border: none;
    font-size: 28px;
    z-index: 10000;
    font-weight: 700;
    color: #FFF5EA;
    border-radius: 8px;
    transition: 0.3s;
    cursor: pointer;
    
}

.blue .order {
    background-color: #FFF5EA;
    color: #235789;
}

.order:hover {
    background-color: #1c4b78;
}

.blue .order:hover {
    background-color: #ffffff;
}

.inputs {
    width: 380px;
    height: 60px;
    border: 4px solid #235789;
    border-radius: 12px;
    z-index: 10000;
    font-size: 28px;
    font-weight: 500;
    color: #1c4b78;
    padding-left: 20Px;
    margin: 30px;
    margin-bottom: 0px;
}

