.header-ser {
    background-color: #235789;
    position: relative;
    padding-bottom: 40px;
    
}

.ser-main {
    position: relative;
    padding-bottom: 140px;
   
}

.m-top-ser {
    margin-top: 120px;
}

.h1-su {
    font-size: 18px;
    opacity: 0.7;
    font-weight: 600;
    margin-top: -38px;
}
h1 {
    font-size: 80px
}
h2,
h3,
h4 {
    font-size: 60px;
}
h2,
h3,
h4,
h5 {
    margin-top: 80px;
    color: #FFF5EA;
}

h3{
    color: #235789;
}
.ser-pic {
    width: 25vw;
    margin-bottom: -5vw;
}

@media (max-width: 800px) {
    .ser-pic {
        width: 50vw;
    }
}
.how-does-item {
    margin: 40px;
}
.how-does-h {
    font-size: 28px;
    font-weight: 700;
    
}

.b-blue .how-does-h {
    color: #FFF5EA;
}

.how-does-text {
    max-width: 25vw;
    font-size: 18px;
    opacity: 0.7;
}

.b-blue .how-does-text {
    color: #FFF5EA;
}
.m-top {
    margin-top: 50px;
}
.order {
    width: 320px;
    height: 90px;
    background-color: #235789;
    border: none;
    font-size: 38px;
    z-index: 10000;
    font-weight: 700;
    color: #FFF5EA;
    border-radius: 8px;
    transition: 0.3s;
    cursor: pointer;
    margin-bottom: 80px;
    margin-top: 60px;
}

.b-blue .order {
    background-color: #FFF5EA;
    color: #235789;
}

.order:hover {
    background-color: #1c4b78;
}

.b-blue .order:hover {
    background-color: #ffffff;
}

.inputs {
    width: 380px;
    height: 60px;
    border: 4px solid #235789;
    border-radius: 8px;
    z-index: 10000;
    font-size: 28px;
    font-weight: 600;
    color: #1c4b78;
    padding-left: 20Px;
    margin: 30px;
    margin-bottom: 0px;
}

@media (max-width: 800px) {
    h1,
    h2,
    h3,
    h4 {
        font-size: 50px;
    }
}

@media (max-width:1000px) {
    .service-col {
        flex-direction: column;
        
    }

    .how-does-text {
        max-width: 60vw;
    }

    .how-does-item {
        margin-top: 0px;
    }
}

@media (max-width: 800px) {
    .how-does-text {
        max-width: 80vw;
    }
}

@media(max-width: 550px) {
    .inputs {
        width: 80vw;
    }

    
}