.footer-logo {
    width: 25vw;
    margin-left: 10vw;
}

footer {
    padding-bottom: -80px;
}

.blue {
    background-color: #235789;
}
.footer-links {
    margin-right: 10vw;
}



.footer-link-h {
    font-size: 24px;
    font-weight: 700;
    opacity: 0.9;
    color: #235789;
    margin-left: -4px;
}

.f-link {
    font-size: 20px;
    color: #235789;
    font-weight: 500;
    opacity: 0.6;
    max-width: 340px;
}

.blue .footer-link-h,
.blue .f-link {
    color: #FFF5EA;
}