.footer-logo {
    width: 25vw;
    margin-left: 10vw;
    opacity: 0;
}

footer {
    padding-bottom: 30px;
    
}

.footer-links {
    margin-right: 10vw;
    transform: translateX(40px);
    opacity: 0;
}



.footer-link-h {
    font-size: 24px;
    font-weight: 700;
    opacity: 0.9;
    color: #235789;
    margin-left: -4px;
}

.f-link {
    font-size: 20px;
    color: #235789;
    font-weight: 500;
    opacity: 0.6;
    margin-top: 8px;
    max-width: 340px;
}

.b-blue .footer-link-h,
.b-blue .f-link {
    color: #FFF5EA;
}

@media (max-width: 1000px) {
    .footer-logo {
        display: none;
    }
    .footer-links {
        margin-left: 10vw;
        align-items: center;
        margin-top: 20px;
    }
    .footer-link-h {
        margin-bottom: 0px;
    }
    .f-link {
        text-align: center;
    }
    
}