.flex {
    display: flex;
}
.wrap {
    flex-wrap: wrap;
}
body {
    background-color: #FFF5EA;
    margin-top: -24px;
    width: 101%;
    margin-left: -0.5%;
}

.a-c {
    align-items: center;
}

.j-c {
    justify-content: center;
}
.f-col {
    display: flex;
    flex-direction: column;
}
.s-around {
    justify-content: space-around;
}

.no-dec {
    text-decoration: none;
}
* {
    font-family: "Poppins", sans-serif;
}
.h {
    font-size: 54px;
}

.t-cen {
    text-align: center;
}

.blue {
   color: #235789
}

.b-blue {
    background-color: #235789;
}

.white {
    color: #FFF5EA;
}

.b-white {
    background-color: #FFF5EA;
}

.black {
    color: #313638;
}