header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-color: #235789;
    z-index: 10000;
}

.h-head {
    color: #FFF5EA;
    font-size: 42px;
    margin-left: 4vw;
    font-weight: 700;
}

.h-link {
    color: #FFF5EA;
    font-size: 28px;
    margin: 8px;
    font-weight: 500;
}

